/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;

}  /* This wildcard applies to all elements ensuring a box layout model */

.clearfix {
    overflow: auto;
}

.subheading {}

body {
    font-size: 16px;
    min-width:250px;
    overflow: auto;
    /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}


header {
    background-color: dodgerblue;
    color: white;
}
header h1 {}
header img {}
header .subheading {}

nav {
}
nav button {
    display: inline-grid;
}
nav ul {
    display: none;
}
nav ul li {}

nav ul li a {
    padding: 8px;
    background-color: #dddddd;
}
nav ul li.active a {
    color: #2f50ea;
}
nav ul li a:hover {
    color: blueviolet;
}

main {}
main h2 {}
main figure { }
main figure img {
    max-width: 100%;
}

.forecast {
    display: none;
}

section {}


article picture {  /* This structure refers to img elements that are the posterity of paragraph elements within article elements */
    /* fill the page in the small/phone view */
    margin: 20px;
    float: right;
}

.town-article {
    margin: 0 0 .7rem 2rem;
}

footer {
    background-color: dodgerblue;
    color: white;
    padding: 1rem 0 .5rem 0;
}

.contact-info {
    text-align: center;
    margin: 0 1rem .5rem 1rem;
}

.footer-bar {
    text-align: center;
    margin: 0 1rem 1rem 1rem;
}

footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */