@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav {

    }

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }
    nav ul li.active a {
        color: #2f50ea;
    }
    nav ul li a:hover {
        color: blueviolet;
    }

    .forecast {
        display: inline-grid;
    }

    section.forecast { display: inline-block; }  /* show the 10-day forecast with the medium view and up */

    article picture {float:right; }  /* responsive images */

}